*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
chemin/vers/le-fichier.extension filter=lfs diff=lfs merge=lfs -text
documents/rapport.pdf filter=lfs diff=lfs merge=lfs -text
